@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
}

.dark ::placeholder {
    color: #6b7280;
}

tr {
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid !important;
}

table tr:last-child {
    border: none !important;
}

thead tr {
    border: none !important;
}


@media print {

    @page {
        size: A4;
        margin: 0
    }

    body,
    html {
        margin: 0;
        padding: 0;
    }


    /* Use styles for desktop-sized screens */
    #printable-content {
        min-width: 788px;
        width: 100%;
        box-shadow: none;
        padding: 20px;
        margin: 0;
    }


    .invoice-header {

        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;

    }


    .invoice-header-right {

        margin-top: 0;
        text-align: right;
    }




    .billing-details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

}